LOCAL_USER=dev
LOCAL_UID=1000
LOCAL_GID=1000
DISPLAY=:0
ROS_DOMAIN_ID=21
ROS_LOCALHOST_ONLY=0
JAKA_ROBOT_IP=10.5.5.100
JAKA_ROBOT_MODEL=zu12
GRIPPER_PORT=/dev/ttyUSB0
CAMERA_NAMESPACE=/camera/camera
LIBGL_ALWAYS_SOFTWARE=1
NVIDIA_VISIBLE_DEVICES=all
NVIDIA_DRIVER_CAPABILITIES=all
