numpy<2
scipy==1.11.4
opencv-python==4.8.1.78
opencv-contrib-python==4.8.1.78
pillow
pyyaml
tqdm
transforms3d
pymodbus>=3,<4
ultralytics==8.3.39
segmentation-models-pytorch==0.3.3
# torch==2.1.0
# torchvision==0.16.0
onnx
onnxruntime
